/* Container styling */
.register-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .register-form {
    flex: 1;
    padding: 10rem;
    /* margin: 10rem; */
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }

  .image-container {
    flex: 2;
    background: url('../../../bg-img.jpg') no-repeat center center;
    height: 126vh;
    background-size: cover;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Logo styling */
  .logo img {
    align-self: center;
    height: 50px;
    margin-bottom: 0.8rem;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .btn {
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .btn-client {
    background-color: #035C59;
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-partner {
    background-color: #fff;
    color: #035C59;
    border: 1px solid #035C59;
    border-radius: 5px;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 0.3rem 0 0.1rem;
  }
  
  form input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.1rem;
  }
  
  .btn-register {
    background-color: #035C59;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Footer styling */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }
  
  .footer img {
    height: 25px;
  }
  
  /* Link styling */
  a {
    color: #035C59;
    text-decoration: none;
    font-weight: bold;
  }
  
  .lastLine{
    align-self: center;
  }