  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 0.3rem 0 0.1rem;
  }
  
  form input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.1rem;
  }
  
  .btn-register {
    background-color: #035C59;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
