  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 0.3rem 0 0.1rem;
  }
  
  form input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.1rem;
  }
  
  .btn-register {
    background-color: #035C59;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .upload-box {
    border: 2px dashed #004d40;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    color: #004d40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
  }